{% extends "layout.html" %}
{% block body %}
<div class="container" style="padding-top: 20px; padding-bottom: 20px">
    <a href="/" class="btn btn-outline-primary">Takaisin päävalikkoon</a>
    <hr>
    <h3>Kirjautuminen</h3>
    <hr>
      {% if error %}
        <p class="notification"><strong>Huomio:</strong> {{ error }}
      {% endif %}
   <form action="/loginresult" method="POST">
      <div class="form-group">
        <label for="exampleInputUsername">Käyttäjätunnus</label>
        <input class="form-control" id="username" name="username" placeholder="Syötä käyttäjätunnuksesi">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Salasana</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Syötä salasanasi">
      </div>
        <button type="submit" class="btn btn-primary">Kirjaudu sisään</button>
    </form>
    <form action="/newaccount" method="GET">
       <div>
           <hr>
           <b>Ei vielä tunnusta?</b>
           <br>
           <button class="btn btn-secondary">Luo uusi käyttäjä</button>
       </div>
    </form>
</div>
<script>
    setTimeout(function() {
        var alert = document.querySelector('.notification');
        if (alert) {
            alert.style.display = 'none';
        }
    }, 4000);
</script>
{% endblock %}