<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel = "stylesheet" href = "http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/>
    <script src = "http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>

</head>
    <title>Ravintolahaku</title>
</head>
<body>

    <div class="container" style="padding-top: 20px; padding-bottom: 20px">
    <a href="/" class="btn btn-outline-primary">Takaisin valikkoon</a>
    <hr>
    <h4>Näiden ravintoloiden kuvauksissa esiintyi sana '{{ searchWord }}'</h4>
    <hr>
        {%  for restaurant in restaurants %}
            <div style="display: flex; align-items: center; flex-direction: row; justify-content: space-between">
                <a href="/restaurants/{{ restaurant.name }}">{{ restaurant.name }}</a>
                <input type="hidden" id="restaurantName" name="restaurantName">
                {% if restaurant.average_rating %}
                <p><b>{{ restaurant.average_rating }}</b></p>
                {% endif %}
            </div>
            <hr>
        {% endfor %}
    </div>
</body>
</html>