<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ravintolat</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel = "stylesheet" href = "http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/>
    <script src = "http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>

    <style>
        @media screen and (max-width: 1000px) {
          .menubar {
            flex-direction: column;
          }
            .menubar > * {
                padding-bottom: 15px;
            }
        }
    </style>
</head>
<body>
        <div class="container" style="padding-top: 20px; padding-bottom: 20px">
            {% if notification %}
                <p class="alert"><strong>{{ notification }}</strong></p>
            {% endif %}
            <div class="menubar" style="display: flex; justify-content: space-between; align-items: center">
                <h1><i class="bi bi-pin-map-fill"></i> Ravintolat</h1>
                <h5><a href="/categories">Kaikki kategoriat</a></h5>
                <form class="form-inline" action="/searchrestaurant" method="POST">
                    <input placeholder="Hae kuvauksella" class="form-control mr-sm-2" name="word" type="search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Hae</button>
                </form>
                <div>
                {%  if session.username %}
                    <h5>Tervetuloa takaisin {{ session.username }}!
                        <br>
                        <small style="float: right; margin-top: 5px"><a href="/logout">Kirjaudu ulos</a></small>
                    </h5>
                {% else %}
                    <p>
                        <a style="margin-top: 10px" class="btn btn-primary" href="{{  url_for('login') }}">Kirjautumiseen</a>
                    </p>
                {% endif %}
                </div>
            </div>
            <hr>
            <div style="padding-top: 20px; padding-bottom: 20px">
            <h4>Ravintolat kartalla</h4>
            <div id = "map" style = "width: 100%; height:45em"></div>
              <script>
                 // Creating map options
                 var mapOptions = {
                    center: [60.192059, 24.945831],
                    zoom: 11
                 }
                 // Creating a map object
                 var map = new L.map('map', mapOptions);

                 // Creating a Layer object
                 var layer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');

                 // Adding layer to the map
                 map.addLayer(layer);
                 {% for restaurant in restaurants %}
                    // Creating a marker
                     {% if restaurant.lat %}
                        var marker = L.marker([{{ restaurant.lat }}, {{ restaurant.lon }}]);

                        // Adding marker to the map
                        marker.addTo(map).bindPopup('<a href="/restaurants/{{ restaurant.name }}">{{ restaurant.name }}</a><br> {{ opening_hours }}');
                     {% endif %}
                 {% endfor %}
              </script>
            </div>
            <div style="display: flex; align-items: center; flex-direction: row; justify-content: space-between">
                <h5>Ravintolan nimi</h5>
                <h5>Keskimääräinen arvosana</h5>
            </div>
            <hr>
            {% if not restaurants %}
                <p>Ei vielä ravintoloita</p>
            {% endif %}
            {%  for restaurant in restaurants %}
                <div style="display: flex; align-items: center; flex-direction: row; justify-content: space-between">
                    <a href="/restaurants/{{ restaurant.name }}">{{ restaurant.name }}</a>
                    <input type="hidden" id="restaurantName" name="restaurantName">
                    {% if restaurant.average_rating %}
                    <p><b>{{ restaurant.average_rating }}</b></p>
                        {% else %}
                        <p><b>—</b></p>
                    {% endif %}
                </div>
                <hr>
            {% endfor %}

            {% if session.role == "admin" %}
                <div style="padding-top: 20px; padding-bottom: 20px">
                    <h4>Jokin ravintola puuttuu listaltamme?</h4>
                    <h5>Voit lisätä sen palveluun alta!</h5>
                    <hr>
                    <form action="/addrestaurant" method="POST">
                      <div class="form-group">
                        <label for="restaurantName">Ravintolan nimi</label>
                        <input class="form-control" id="restaurantName" name="restaurantName" placeholder="Syötä ravintolan nimi">
                      </div>
                        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                        <button type="submit" class="btn btn-primary">Lisää</button>
                    </form>
                </div>
            {% endif %}
        </div>

</body>
</html>