<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.js"></script>

</head>
    <title>Ravintolahaku</title>
<body>
    <div class="container" style="padding-top: 20px; padding-bottom: 20px">
        {% if searchWord %}
            <a href="/" class="btn btn-outline-primary">Takaisin päävalikkoon</a>
            <hr>
            <h4>Näiden ravintoloiden kuvauksissa esiintyi sana '{{ searchWord }}'</h4>
        {% endif %}
        {% if category %}
            <a href="/categories" class="btn btn-outline-primary">Takaisin kategorioihin</a>
            <hr>
            <h4>Ravintolat kategorialla '{{ category }}'</h4>
        {% endif %}
        <hr>
        {% for restaurant in restaurants %}
            <div style="display: flex; align-items: center; flex-direction: row; justify-content: space-between">
                <a href="/restaurants/{{ restaurant.name }}">{{ restaurant.name }}</a>
                <input type="hidden" id="restaurantName" name="restaurantName">
            </div>
            <hr>
        {% endfor %}
    </div>
</body>
</html>